In [ ]:
import pip
def install(package):
   pip.main(['install', package])
install('pandas-datareader')

In [11]:
import datetime
import pandas as pd
import pandas_datareader.data as web

In [30]:
start = datetime.datetime(2017, 1, 1) # or start = '1/1/2016'
end = datetime.date.today()
prices = web.DataReader('SPy', 'yahoo', start, end)
prices.head(10) #prices.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,222.073914,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,223.395081,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,223.217606,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,224.016220,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,223.276779,46265300
2017-01-10,226.479996,227.449997,226.009995,226.460007,223.276779,63771900
2017-01-11,226.360001,227.100006,225.589996,227.100006,223.907761,74650000
2017-01-12,226.500000,226.750000,224.960007,226.529999,223.345779,72113200
2017-01-13,226.729996,227.399994,226.690002,227.050003,223.858475,62717900
2017-01-17,226.309998,226.779999,225.800003,226.250000,223.069702,59261200